<div class="shopping-page">
	<h1>My Shopping List</h1>
	
	<div class="shopping-list">
		<%= form_tag shopping_list_index_path do  %>
			<% @ingredients.each do |ingredient|  %>
				<p>
					<%= check_box_tag ingredient, ingredient %>
					<%= label_tag ingredient  %>
				</p>
			<% end %>
		<% end %>
	</div>
	
	<button id="shop-list-btn"><%=link_to_function("Print Shopping List", "javascript:print()")%></button>
</div>

