<div class="saved-recipes">

<h1>Your Saved Recipes</h1>

	<% if current_user.recipe_boxes.empty? %>
		<p> You have no saved recipes. </p>
		<p> <%= link_to "Search", root_path  %> for recipes to add!</p>

	<% else %>
	
		<% current_user.recipe_boxes.each do |recipe_box| %>
			
			<h3><%= link_to recipe_box.name, recipe_box_path(recipe_box.id) %></h3>
			<ul>
				<% recipe_box.recipes.each do |recipe|%>

					<li> 
						<img src = <%= recipe_box.recipes.first.image_url %> > 
						<%= link_to recipe.name, recipe_path(recipe.yummly_id)%>
					</li>
				<% end %>
			</ul>
		
		<% end %>

	<% end %>

</div>




