<div class="saved-recipes">

<h1>Your Saved Recipes</h1>
	
	<% current_user.recipe_boxes.each do |recipe_box| %>
		
		<p><%= recipe_box.name %></p>
		<ul>
			<% recipe_box.recipes.each do |recipe|%>
				<li> <%= link_to recipe.name, recipe_path(recipe.yummly_id)%></li>
			<% end %>
		</ul>
	
	<% end %>

</div>


